.StoreCard-Title {
    position: relative;
}

.store-num {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.6em;
}

.PackageDealWidgetItem-OptionValue {
    margin-right: 15px;
}

.PackageDealWidgetItem-Option {
    display: flex;
    flex-wrap: wrap;
}